* {
    margin: 0;
    padding: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    background: #83848D;
}

h1 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 50px;
}

form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    background: #E6E8EA;
    color: #83848D;
    padding: 20px;
    border-radius: 10px;
}

.form-row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    line-height: 36px;
    width: 220px;
    border-radius: 7px;
    color: #83848D;
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    padding-left: 20px;
}
p{
    margin-right: 30px;
}
.radio-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.radio-container .radio-btn {
    overflow: hidden;
}

.radio-container .radio-btn.nth-2 {
    width: calc(50% - 1px);
}

.radio-container .radio-btn label {
    background: linear-gradient(to bottom, #f8f8fa 0%, #c8c8c7 100%);
    display: block;
    padding: 6px 12px;
    text-align: center;
    color: #7e7e7e;
    border-top: 1px solid #b4b5b9;
    border-bottom: 1px solid #b4b5b9;
    border-right: 1px solid #b4b5b9;
}

.radio-container .radio-btn input {
    display: none;
}

.radio-container .radio-btn input:checked + label {
    background: linear-gradient(to bottom, #3f7add 0%, #71acf7 100%);
    color: #fff;
}

.radio-container .radio-btn:first-child label {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: 1px solid #b4b5b9;
}

.radio-container .radio-btn:last-child label {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#button {
    font-size: 24px;
    background: linear-gradient(to bottom, #3f7add 0%, #71acf7 100%);
    border-radius: 10px;
    font-family: "Segoe UI", sans-serif;
    color: #FFF;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
    margin-top: 30px;
}